* {
  font-family: arial, sans-serif;
  margin: 0;
}

body {
  background-image: url(./assets/joyce-hankins-gpiKdZmDQig-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

body,
body > div {
  height: 100vh;
  width: 100vw;
}

h1 {
  font-family: "Caprasimo", serif;
  font-size: 10rem;
  text-shadow: 10px 10px 20px black;
}

a {
  background-color: rgb(236, 241, 250);
  border: 3px solid black;
  border-radius: 20px;
  box-shadow: 4px 4px 6px black;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 1.2em;
  text-decoration: none;
}

#container {
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
}

#container > div {
  display: flex;
}

#navbar {
  margin-top: 2em;
  padding: 2em;
  justify-content: space-evenly;
}

#main-section {
  flex-grow: 1;
}

#main-section > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  border-radius: 25px;
  box-shadow: 5px 5px 10px black;
}

#footer {
  padding: 2em;
  justify-content: space-evenly;
}

.red {
  background-color: #b80707;
  color: white;
}

.blue {
  background-color: #0a0db1;
  color: white;
}

.orange {
  background-color: #c74e08;
  color: white;
}

.yellow {
  background-color: #cac410;
  color: white;
}

.green {
  background-color: #095506;
  color: white;
}

.purple {
  background-color: #4a0e73;
  color: white;
}

.home {
  background-color: #271e1e;
  color: #e1e2e2;
}
